# Python files (if you're using a virtual environment)
env/
*.pyc
__pycache__/
static/Models/Model EfficientNet.keras
static/Models/Model CNN.keras
static/Models/Model VGG19.keras

# Environment variables
.env
.flaskenv

# Caches
__pycache__/
.pytest_cache/

# Temporary files
*.swp